<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:index' %}">orm_store_app:index</a></li>
{#    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:datetime_nov' %}">orm_store_app:datetime_nov</a>#}
{#    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:list_dict' %}">orm_store_app:list_dict</a></li>#}
{#    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:form_create_0' %}">orm_store_app:form_create_0</a></li>#}
{#    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:form_create' %}">orm_store_app:form_create</a></li>#}
{#    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:form_result' %}">orm_store_app:form_result</a></li>#}
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:table' pk=1 %}">orm_store_app:table</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_store_app:page' pk=1 %}">orm_store_app:page</a></li>
</ul>
