{% extends 'layout.html' %}

{% block title %}orm_store_page{% endblock %}

{% block content %}
    <h6>Category</h6>
{#    <p>category: {{ category }}</p>#}
    <ul>
        {% for object in category %}
            <li>
{#                {{ object.id }}: {{ object.name }}#}
                <a href="{% url 'orm_store_app:page' pk=object.id %}">{{ object.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% load static %}
     <div class="card">
        <div class="card-body">
            {#            <form action="https://www.bing.com/search" id="UserEnter" name="UserEnter" target="_blank">#}
            <form action="{% url 'orm_store_app:store_result' %}" id="UserEnter" name="UserEnter" target="_self">
                <ul class="d-flex flex-row flex-wrap ">
                    {% for item in items %}
                        <li class="m-2 list-group-item bg-light border p-3">
                            <img src="{% static item.image %}" width="200px>">
                            <h6>{{ item.name }}</h6>
                            <p>{{ item.description }}. Цена: {{ item.price }}р.
                                <input name="vendor_code" type="hidden" value={{ item.vendor_code }}>
                                <br>Заказать<input style=" width: 2.0rem;" name="amount" type="text" value=0> шт.
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
